*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner{
    height: 105vh;
    width: 100%;
    background-image: url(../assets/bannerSite.jpg);

}

header{
    background-color: #f9f9f9;
}
#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px;
    position: absolute;
    z-index: 1;
    
}

.barra{
    background-color: rebeccapurple;
    height: 100%;
    width: 300px;
    position: absolute;
    right: 0;
    transition: all .2s linear;
}

#icone img{
    height: 50px;
    width: 50px;
}



@media (max-width: 1000px){
    /* .banner{
        height: 800px;
        background-size: 100% 60%;
    } */
}